html{
    background-color: ivory;
}

h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 100px;
}

main{
    margin: 20px;
}

.bold li{
    font-weight: bold;
}

li{
    margin-bottom: 40px;;
}

p{
    font-weight: normal;
}

section{
    margin-bottom: 80px;
}

img{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
